<div>
    <h1>We played paper</h1>
    <p><%= @result %></p> 
</div>

<ul>
  <li><a href="/"> Rules </a></li>
  <li><a href="/rock"> Play Rock </a></li>
  <li><a href="/paper"> Play Paper </a></li>
  <li><a href="/scissors"> Play Scissors</a></li>
</ul>
